<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.renalCalculator.antibiotics"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Crcl Calculator</name>

  <description>
      Calculates the creatinine clearance using the Cockroft-Gault formula
  </description>

  <author href="" email="benlogan19@gmail.com">
      b Logan
  </author>

   <icon src="icon.png" />

</widget>